.bonus-categories {
  max-width: 1232px;
  margin: 0 auto;
  padding-bottom: 48px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  @media (max-width: 767px) {
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (max-width: 767px) {
      display: none;
      flex-direction: column;
      align-items: center;
    }
  }

  &__mobile-header {
    display: none;
    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      height: 58px;
      border-radius: 6px;
      background-color: #ffce00;
    }
  }

  &__mobile-title {
    color: #040438;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      width: 12px;
      height: 8px;
      position: absolute;
      right: -35px;
      transform: translateY(-50%);
      top: 50%;
      background: url("../images/bonus-categories/arrow.webp") no-repeat center / contain;
    }
  }

  &_bonus-page {
    margin: 68px auto 0 auto;
  }

  &__item {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    position: relative;
    &:hover {
      &::after {
        content: '';
        width: 140%;
        height: 9px;
        background-color: #ffce00;
        bottom: -48px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    @media (max-width: 767px) {
      flex-direction: row;
      width: 90%;
      height: 66px;

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
    }

    &_active {

      &::after {
        content: '';
        width: 140%;
        height: 9px;
        background-color: #ffce00;
        bottom: -48px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  &__img {
    @media (max-width: 767px) {
      transform: scale(.8);
      width: 80px;
      object-fit: none;
    }
  }

  &__text {
    color: #040438;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    margin-top: auto;
    @media (max-width: 767px) {
      margin: 0;
    }
    &:hover {
      @media (max-width: 767px) {
        color: #ffce00;
      }
    }
  }
}
