.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 291px);
  grid-gap: 27px;
  max-width: 927px;
  margin: 0 auto;
  justify-content: center;

  &_freispele {
    margin-bottom: 129px;

    @media (max-width:1000px) {
      grid-template-columns: repeat(auto-fill, 291px);
    }

    grid-template-columns: repeat(auto-fill, 291px);
  }

  &_besten {
    grid-template-columns: repeat(auto-fill, 389px);
    grid-gap: 28px 22px;
    max-width: 100%;
    margin-bottom: 50px;

    @media (max-width:1000px) {
      grid-template-columns: repeat(auto-fill, 346px);
    }

  }



}
