.casino-slider {
  background: url("../images/casino-slider/casino-slider-bg.jpg") no-repeat center / cover;
  margin-top: 92px;

  &__wrapper {
    max-width: 1288px;
    margin: 0 auto;
    padding: 77px 15px 84px;
    text-align: center;
  }

  &__title {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 24px;
  }

  &__text {
    max-width: 675px;
    margin: 0 auto 34px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #bdbdca;
  }

  &__slider {
    padding: 0 80px !important;
    margin-bottom: 45px;
    @media (max-width: 750px) {
      padding: 0 !important;
    }
  }

  .owl-prev {
    width: 66px !important;
    height: 66px !important;
    background: url("../images/casino-slider/arrow.png") no-repeat center / contain !important;
    font-size: 0!important;
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    @media (max-width: 750px) {
      position: static !important;
    }
  }

  .owl-next {
    width: 66px !important;
    height: 66px !important;
    background: url("../images/casino-slider/arrow.png") no-repeat center / contain !important;
    font-size: 0!important;
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
    transform: translateY(-50%) rotate(180deg)!important;
    @media (max-width: 750px) {
      position: static !important;
    }
  }

  .owl-nav {
    margin: 0 !important;

    @media (max-width: 750px) {
      margin-top: 60px !important;
    }

  }
}
