.casino-card {
  width: 291px;
  box-shadow: 0 20px 32px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 26px 24px 41px 23px;
  background-color: #fff;

  &_blur {
    background-color: rgba(255, 255, 255, .15);
    max-width: 258px;
    padding: 24px;

    .casino-card__image {
      margin: 0 auto 16px;
    }

    .casino-card__text {
      margin-bottom: 16px;
    }
    @media (max-width: 750px) {
      max-width: 600px;
      width: 100%;

      .casino-card__text {
        font-size: 13px;
        line-height: 21px;
      }

      .site-button {
        height: 50px;
      }
    }
  }

  &_extended {
    max-width: 389px;
    width: 100%;
    padding: 23px 31px 24px 30px;
    transition: 0.3s;
    border-radius: 38px;

    &:hover {
      background-color: #101041;

      .casino-card__text {
        color: #fff;
      }
    }
    @media (max-width:1000px) {
      max-width: 346px;
      text-align: center;
    }
  }

  &__image {
    width: 103px !important;
    height: 103px;
    margin: 0 auto 35px;
  }

  &__raiting-wrapper {
    width: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__raiting-value {
    width: 49px;
    height: 49px;
    border-radius: 6px;
    margin-bottom: 19px;
    border: 1px solid #040438;
    background-color: #ffffff;
    line-height: 49px;
    color: #040438;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }

  &__raiting {
    margin: 0 auto 30px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_buttons {
      @media (max-width: 1000px) {
        flex-direction: column;

        .site-button {
          margin-bottom: 10px;
          width: 90%;
          height: 59px;
        }
      }
    }
  }

  &__text {
    color: #040438;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 34px;

    &_secondary {
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      color: #747474;
    }

    &_big {
      font-size: 18px;
    }

    &_white {
      color: #fff;
    }
  }

  &__slider-btn {
    margin-bottom: 9px;
  }
}
