.casino-review {
  max-width: 843px;
  width: 100%;
  background-color: #fafaf8;
  padding: 36px;

  @media (max-width: 600px) {
    padding: 5px;
    background-color: transparent;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
    }

  }

  &__info {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    width: 73px;
    height: 72px;
    margin-right: 24px;
  }

  &__categories {
    margin-bottom: 40px;

    .bonus-categories__item {
      height: 78px;

      &:not(:last-child) {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 1px;
          right: -20px;
          top: 0;
          background-color: #bbbbba;

          @media (max-width: 767px) {
            display: none;
          }
        }

      }

    }

    .bonus-categories__img {
      transform: scale(.7);
    }

    .bonus-categories__text {
      font-size: 14px;
    }

  }

  &__raiting {
    display: inline-flex;
    align-items: center;
  }

  &__raiting-value {
    margin-right: 16px;
    width: 39px;
    height: 39px;
    border-radius: 6px;
    border: 1px solid #040438;
    background-color: #ffffff;
    line-height: 39px;
    color: #f9c769;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    background-color: #040438;
    @media (max-width: 1000px) {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }

  &__button {
    box-shadow: 0 11px 15px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    text-transform: none;

    @media (max-width: 767px) {
      display: none;
    }

  }

  &__title {
    color: #040438;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }

  &__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #5a5a59;
    text-decoration: none;
  }

}
