.casino-aside {
  width: 334px;
  box-shadow: 0 19px 18px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #fafaf8;
  padding: 25px 33px 21px 33px;

  @media (max-width: 1100px) {
    display: none;
  }

  &__item {
    width: 268px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid #c8c8c6;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

  }

  &__image {
    margin-right: 14px;
    width: 76px;
    height: 72px;
  }

  &__title {
    color: #040438;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
  }

  &__raiting {
    margin-bottom: 7px;
  }

  &__link {
    color: #0066ff;
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
  }

}
