.casino-detail {
  display: flex;
  margin-bottom: 50px;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  &__info {
    min-width: 227px;
    height: 48px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    margin-top: -12px;

    @media (max-width: 767px) {
      min-width: auto;
      margin: 0;
      margin-bottom: 24px;
    }

  }

  &__image {
    width: 48px;
    height: 48px;
    background-size: contain;
    background-position: center;
    margin-right: 13px;

    &_deposit {
      background-image: url('../images/casino-detail/deposit.svg');
    }

    &_software {
      background-image: url('../images/casino-detail/software.svg');
    }

    &_timer {
      background-image: url('../images/casino-detail/timer.svg');
    }

    &_withdrawal {
      background-image: url('../images/casino-detail/withdrawal.svg');
    }

    &_museum {
      background-image: url('../images/casino-detail/museum.svg');
    }

  }

  &__title {
    color: #040438;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
  }

  &__text {
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    color: #5c5c5c;

    @media (max-width: 767px) {
      text-align: center;
    }

  }

}
