.container {
  padding: 0 15px;
  margin: 0 auto;

  &_about {
    max-width: 1135px;
    margin-bottom: 40px;
    margin-top: 60px;
  }

  &_m {
    max-width: 1242px;
  }

  &_signup {
    background-color: #fff;
    padding-top: 64px;
    padding-bottom: 94px;
    margin-left: -15px;
    margin-right: -15px;
    @media (max-width: 400px) {
      background: transparent;
    }
  }

  &_review {
    margin-top: 55px;
  }

  &_review-border {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

}
