.footer {
  background-color: #040438;

  &__wrapper {
    max-width: 1189px;
    padding: 37px 10px 47px;
    margin: 0 auto;
    @media (max-width: 375px) {
      padding: 42px 24px 7px;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(4, 125px);
    justify-content: space-between;
    max-width: 1035px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 55px;
    @media (max-width: 767px) {
      grid-template-columns: 45% 45%;
      grid-gap: 20px;
    }
    @media (max-width: 375px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      padding-bottom: 20px;
    }
  }

  &__section {
    font-family: "Titillium Web";
    @media (max-width: 375px) {
      padding: 15px 0;
    }
  }

  &__content {
    @media (max-width: 375px) {
      display: none;
    }
  }

  &__section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__section-title {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 10px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__toggler {
    display: none;
    width: 22px;
    height: 22px;
    background: url("../images/footer/toggler.svg") no-repeat center / contain;
    cursor: pointer;
    @media (max-width: 375px) {
      display: block;
    }
  }

  &__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__nav-link {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    line-height: 24px;
    color: #8a8aa2;
    transition: 0.3s;

    &_secondary {
      font-size: 9px;
    }

    &:hover {
      color: #fff;
    }
  }

  &__secondary {
    border-top: 1px solid #2c2c58;
  }

  &__secondary-wrapper {
    max-width: 1034px;
    margin: 0 auto;
    padding-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {

      flex-direction: column;
    }

  }

  &__row-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__divider {
    margin: 0 20px;
  }
}
