.header {
  background-color: #040438;

  &__wrapper {
    max-width: 1241px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 15px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  &__logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  &__logo-u {
    color: #ffce00;
  }

  &__logo-img {
    margin-right: 10px;
  }

  &__title {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 15px;
    font-weight: 600;
  }

  &__nav {
    margin-left: auto;
  }

  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 820px) {
      display: none;
    }

  }

  &__nav-item {
    &:not(.header__nav-item_subitem) {
      margin: 0 20px;
    }

    &_active &__nav-link {
      color: #ffce00;
    }

    &_sublist {
      position: relative;
      display: flex;
      align-items: baseline;

      &:after {
        content: '';
        width: 6px;
        height: 4px;
        display: inline-block;
        margin-left: 10px;
        background: url("../images/header/arrow.svg") no-repeat center / contain;
      }

      &:hover .header__nav-sublist {
        display: block;
      }
    }
  }

  &__nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: #ffce00;
    }
  }

  &__nav-sublist {
    display: none;
    position: absolute;
    list-style: none;
    left: 0;
    top: 15px;
    background-color: #040438;
    padding: 15px;
    margin: 0;
  }

  &__search-icon {
    width: 28px;
    height: 28px;
    background: url("../images/header/search.svg") no-repeat center / contain;
    margin-right: 40px;
    margin-left: 10px;
    cursor: pointer;
    @media (max-width: 500px) {
      margin-right: 0;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__search-shadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.8);
    z-index: 99;
  }
}

.search {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0,0, 0.8);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  display:none;
}

.search .site-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
