.listing {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px;

  &__tbody {
    @media (max-width: 850px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, 343px);
      grid-gap: 30px;
      justify-content: center;
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(auto-fill, 300px);
    }

  }

  &__title {
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    color: #5b5b7c;
    padding-bottom: 5px;

    &:first-child {
      padding-left: 50px;
    }

    &:last-child {
      padding-right: 50px;
    }
  }

  &__row {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.04);

    @media (max-width: 1000px) {
      box-shadow: none;
    }

    &_title {
      box-shadow: none;
      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  &__mobile-title {
    display: none;
    color: #606080;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
    @media (max-width: 850px) {
      display: block;
    }
  }

  &__td {
    text-align: center;
    background-color: #fff;
    padding: 18px 0;

    &_name {
      @media(max-width: 1000px) {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px
      }
    }

    &:first-child {
      padding-left: 20px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      @media (max-width: 850px) {
        padding-left: 26px;
      }
    }

    &:last-child {
      padding-right: 20px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      @media (max-width: 850px) {
        padding-right: 19px;
      }
    }
    @media (max-width: 850px) {
      display: block;
      width: 343px;
      margin: 0 auto;
      padding-left: 26px;
      text-align: left;
    }

    @media (max-width: 400px) {
      width: 100%;
    }

    @media (max-width: 850px) {
      &_num {
        display: none;
      }
    }

    &_btn {
      border-bottom-left-radius: 8px;
      @media (max-width: 850px) {
        text-align: center;
      }
    }
  }

  &__text {
    color: #040438;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after {
      content: '';
      width: 1px;
      height: 35px;
      background-color: #e4e1dd;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      @media (max-width: 850px) {
        display: none;
      }

    }
    @media (max-width: 850px) {
      justify-content: flex-start;
    }
  }

  &__item-info {
    text-align: left;
  }

  &__description {
    position: relative;

    &:after {
      content: '';
      width: 1px;
      height: 35px;
      background-color: #e4e1dd;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      @media (max-width: 850px) {
        display: none;
      }

    }
  }

  &__item-img {
    margin-right: 18px;
    width: 76px;
    height: 72px;
  }

  &__link {
    color: #0066ff;
    font-size: 11px;
    font-weight: 500;
    line-height: 24px;
  }

  &__reputation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 850px) {
      justify-content: flex-end;
      flex-direction: row-reverse;
      align-items: flex-end;
    }
  }

  &__reputation {
    margin-right: 12px;
    @media (max-width: 850px) {
      margin-right: 0;
      margin-left: 12px;
    }
  }

  &__reputation-value {
    width: 39px;
    height: 39px;
    border-radius: 6px;
    border: 1px solid #040438;
    background-color: #ffffff;
    line-height: 39px;
    color: #040438;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    @media (max-width: 850px) {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }

  &__hidden {
    @media (min-width: 850px) and (max-width: 1000px) {
      display: none;
    }
  }
}
