.site-list__items {
    margin: 0;
    padding: 40px 0 40px 40px;

    height: 100vh;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;

    z-index: 100;
}

.site-list__item {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #8080803b;
}

.site-list__item:last-child{
    border: none;
}

.drop-menu .site-list__item {
    list-style: none;
    border-color: #80808017;
}

.drop-menu .site-list__item:last-child{
    border: none;
}

.site-list__link {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.site-list__link:hover {
    color: #ffce00;
}

.site-list__items--closed {
    display: none;
}

.site-list__wrapper {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000099;
}
