.raiting {
  display: flex;
  width: 117px;

  .raiting-star {
    width: 24px;
    height: 24px;
    background: url("../images/raiting/raiting-star.svg") no-repeat center / contain;

    &:not(:last-child) {
      margin-right: 2px;
    }
  }

  &_0 {
    .raiting-star {
      opacity: 0.5;
    }
  }

  &_1 {
    .raiting-star:not(:first-child) {
      opacity: 0.5;
    }
  }

  &_2 {
    .raiting-star:nth-child(3),
    .raiting-star:nth-child(4),
    .raiting-star:nth-child(5) {
      opacity: 0.5;
    }
  }

  &_3 {
    .raiting-star:nth-child(4),
    .raiting-star:nth-child(5) {
      opacity: 0.5;
    }
  }

  &_4 {
    .raiting-star:nth-child(5) {
      opacity: 0.5;
    }
  }
}
