.site-breadcrumbs {

  border-bottom: 1px solid #00000015;

  &__wrapper {
    padding: 33px 20px;
    max-width: 1241px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    color: #040438;
    font-size: 11px;
    font-weight: 600;
    margin-right: 5px;
    text-decoration: none;

    &:first-child {
      &::before {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 5px;
        background: url("../images/site-breadcrumbs/home.svg") no-repeat center / contain;
      }
    }

    &:not(:last-child) {
      &::after {
        content: '';
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-left: 5px;
        background: url("../images/site-breadcrumbs/arrow.svg") no-repeat center / contain;
      }
    }
  }

  // @media (max-width: 767px) {
  //   display: none;
  // }

}
