.site-button {
  height: 63px;
  box-shadow: 0 11px 14px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  background-color: #ffce00;
  color: #392206;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
  border: none;
  padding: 18px 21px 21px 25px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: #0a0a51;
    color: #fff;
  }

  &_header {
    height: 54px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0;
    
    @media (max-width: 500px) {
      width: 100%;
      margin-top: 23px;
    }

    &:hover {
      background-color: transparent;
      border-color: #ffce00;
    }
  }

  &_signup {
    height: 79px;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 0;
    @media (max-width: 400px) {
      width: 100%;
      display: block;
      height: 60px;
      box-shadow: 0 11px 15px rgba(0, 0, 0, 0.16);
      border-radius: 6px;
      background-color: #ffce00;
    }
  }

  &_full-width {
    width: 100%;
    display: block;
  }

  &_white {
    border: 1px solid rgba(0, 0, 0, 0.17);
    background-color: #fff;
  }

  &_card {
    box-shadow: 0 12px 17px rgba(0, 0, 0, 0.16);
    padding: 22px 36px;
    border-radius: 6px;
  }

  &_listing {
    @media (max-width: 1000px) {
      display: block;
      width: 100%;
    }
  }
}
