.site-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;

  &_freispele {
    margin-bottom: 70px;
  }

  &_center {
    text-align: center;
  }

  &_main {
    max-width: 673px;
    margin: 0 auto 75px;
    @media (max-width: 375px) {
      text-align: left;
      font-size: 14px;
      margin-bottom: 38px;
    }
  }

  &_signup {
    margin-bottom: 40px;
    @media (max-width: 375px) {
      text-align: left;
      font-size: 14px;
      margin-bottom: 38px;
    }
  }

  &_about {
    color: #585858;

    @media (max-width: 375px) {
      font-size: 14px;
      line-height: 24px;
    }

  }

  &_bonus {
    max-width: 673px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

}
