.site-promo {
  background: url("../images/site-promo/promo-bg.jpg") no-repeat center / cover;
  padding-bottom: 95px;

  &__title {
    padding-top: 60px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 15px;
    margin: 0;

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

  }

  &__text {
    max-width: 871px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 22px;
    }

  }

  &__breadcrumbs {
    border: none;
    padding-left: 0;
    .site-breadcrumbs__item {
      color: #fff;

      &:first-child {
        &::before {
          background: url("../images/site-breadcrumbs/home-white.svg") no-repeat center / contain;
        }
      }

      &:not(:last-child) {
        &::after {
          background: url("../images/site-breadcrumbs/arrow-white.svg") no-repeat center / contain;
        }
      }
    }
  }
}
