.site-select {
  padding: 24px 44px;
  border-radius: 6px;
  display: inline-block;

  &_center {
    margin: 0 auto;
  }

  &__control {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5f5f80;

  }

}
