.site-row {
  display: flex;
  align-items: center;

  &_center {
    justify-content: center;
  }

  &_signup {
    max-width: 775px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    @media (max-width: 400px) {
      flex-direction: column;
      box-shadow: none;
    }
  }

  // @media (max-width: 400px) {
  //   flex-direction: column;
  //   box-shadow: none;
  // }

  &_review {
    justify-content: space-between;

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }

  }

}
