.site-title {
  text-align: center;
  margin: 0;
  color: #040438;
  font-size: 35px;
  font-weight: 700;

  &_freispele {
    margin-top: 70px;
    margin-bottom: 20px;
  }

  &_secondary {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 30px;
  }

  &_left {
    text-align: left;
  }

  &_main {
    margin-bottom: 24px;
    margin-top: 64px;
    @media (max-width: 375px) {
      text-align: left;
      font-size: 24px;
    }
  }

  &_bonus {
    margin-bottom: 44px;
    margin-top: 50px;
    @media (max-width: 375px) {
      text-align: left;
      font-size: 24px;
    }
  }

  &_bonus2 {
    margin-bottom: 24px;
    margin-top: 40px;
    @media (max-width: 375px) {
      text-align: left;
      font-size: 24px;
    }
  }

  &_signup {
    margin-bottom: 24px;
    @media (max-width: 375px) {
      text-align: left;
      font-size: 24px;
    }
  }

  &_about {
    max-width: 900px;

    @media (max-width: 375px) {
      font-size: 16px;
      line-height: 22px;
    }

  }

}
