.site-burger {
  cursor: pointer;
  margin-right: 27px;

  &__line {
    width: 25px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;

    &:not(:last-child) {
      margin-bottom: 5.5px;
    }
  }
}
