.site-input {
  height: 79px;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-left: 32px;

  &_signup {
    max-width: 620px;
    width: 100%;
    @media (max-width: 400px) {
      flex-direction: column;
      height: 65px;
      margin-bottom: 21px;
      box-shadow: 0 11px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }

  &_header-search {
    height: 63px;
    width: 50%;
    padding-left: 8px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
