@font-face {
  font-family: "All Round Gothic W 01";
  src: url("//db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.eot");
  src: url("//db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/c25432bd2c16dfe9cbff2d2968e73fcb.svg#AllRoundGothicW01-Demi") format("svg");
}

body {
  font-family: Montserrat;
  background-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.visible {
  display: block !important;
}

.flex {
  display: flex !important;
}

.block {
  display: block !important;
}
