{% from './raiting.html' import raiting %}

{% macro listing(data) %}

<table class="listing">
  <tbody class="listing__tbody">
    <tr class="listing__row listing__row_title">
      <th class="listing__title listing__hidden">NU.</th>
      <th class="listing__title">CASINO NAME</th>
      <th class="listing__title">BONUS</th>
      <th class="listing__title">REPUTATION</th>
      <th class="listing__title">ZUM CASINO</th>
    </tr>
    {% for item in data %}

    <tr class="listing__row">

      <td class="listing__td listing__td_num listing__hidden">
        <div class="listing__text">1</div>
      </td>

      <td class="listing__td listing__td_name">
        <div class="listing__name">
            <picture>
                <source type="image/webp" srcset="images/listing/{{item.imageWebp}}">
                <img src="images/listing/{{item.image}}" alt="casumo" class="listing__item-img" />
            </picture>
          <div class="listing__item-info">
            <div class="listing__text listing__text_name">{{item.title}}</div>
            <a class="listing__link" href="#">{{item.title}} review</a>
          </div>
        </div>
      </td>

      <td class="listing__td">

        <div class="listing__mobile-title">Bonus</div>

        <div class="listing__text listing__description">
          400 % bis 40 € + 30 Freispiele
        </div>
      </td>

      <td class="listing__td">

        <div class="listing__mobile-title">Reputation</div>

        <div class="listing__reputation-wrapper">
          {{raiting(item.reputation, 'listing__reputation')}}

          <div class="listing__reputation-value listing__hidden">{{item.reputation}}.0</div>

        </div>
      </td>

      <td class="listing__td listing__td_btn">
        <button class="site-button site-button_listing">JETZT SPIELEN</button>
      </td>

    </tr>

    {% endfor %}
  </tbody>

</table>
{% endmacro %}
