{% macro raiting(value, class='') %}
<div class="raiting raiting_{{value}} {{class if class}}">
  <div class="raiting-star"></div>
  <div class="raiting-star"></div>
  <div class="raiting-star"></div>
  <div class="raiting-star"></div>
  <div class="raiting-star"></div>
</div>
{% endmacro %}
