{% from './site-breadcrumbs.html' import siteBreadcrumbs %}

{% macro sitePromo() %}
<div class="site-promo">

  <div class="container container_m">
    {{siteBreadcrumbs(['Home', 'Besten Online Casinos fur 2019'], 'site-promo__breadcrumbs')}}

    <h1 class="site-promo__title">Besten Online Casinos fur 2019</h1>
    <div class="site-promo__text">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
      lorem ipsum dolor sit amet.
    </div>
  </div>


</div>
{% endmacro %}
