{% macro siteBreadcrumbs(items, class='') %}
<div class="site-breadcrumbs {{class if class != ''}}">

  <div class="site-breadcrumbs__wrapper">
    {% for item in items %}
    <a href='#' class="site-breadcrumbs__item">{{item}}</a>
    {% endfor %}
  </div>


</div>
{% endmacro %}
