{% extends "./templates/decorators/_base.html"  %}
{% from './templates/macros/header.html' import header %}
{% from './templates/macros/footer.html' import footer %}
{% from './templates/macros/cards-grid.html' import cardsGrid %}
{% from './templates/macros/site-breadcrumbs.html' import siteBreadcrumbs %}
{% from './templates/macros/site-select.html' import siteSelect %}
{% from './templates/macros/bonus-categories.html' import bonusCategories %}
{% from './templates/macros/listing.html' import listing %}

{% block page_title %}

{% endblock %}

{% block page_body %}

{{header()}}
{{siteBreadcrumbs(['Home', 'Besten Casino Bonus'])}}
{{bonusCategories('bonus-categories_bonus-page', true)}}


<section class="container container_m">
  <h2 class="site-title site-title_bonus">Premium Listings</h2>
  {{listing(listingItems)}}
</section>

<section class="container container_m">
  <h2 class="site-title site-title_bonus2">Besten Casino Bonues</h2>
  <div class="site-text site-text_center site-text_bonus">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et </div>
  {{cardsGrid(casinos, 'cards-grid_besten', 'extended')}}
</section>

<div class="site-row site-row_center">
  {{siteSelect('site-select_center')}}
</div>

<div class="container container_about">
  <h2 class="site-title site-title_secondary site-title_left site-title_about">
    Lorem ipsum dolor sit amet consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
  </h2>

  <div class="site-text site-text_about">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed
  </div>

</div>

<div class="container container_about">
  <h2 class="site-title site-title_secondary site-title_left site-title_about">
    Lorem ipsum dolor sit amet consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
  </h2>
  <div class="site-text site-text_about">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet.
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed
  </div>
</div>

</div>

<div class="container">

  <div class="container container_signup">
    <h2 class="site-title site-title_signup">Sign up, get saving!</h2>
    <div class="site-text site-text_center site-text_signup">
      Newsletter subscribers save more with today's best prices and deals
    </div>

    <form class="site-row site-row_signup">
      <input type="email" required placeholder="Subscribe us with email" class="site-input site-input_signup" />
      <button type="submit" class="site-button site-button_signup">SUBSCRIBE</button>
    </form>

  </div>
</div>



{{footer()}}

{% endblock %}
