{% extends "./templates/decorators/_base.html"  %}
{% from './templates/macros/header.html' import header %}
{% from './templates/macros/footer.html' import footer %}
{% from './templates/macros/cards-grid.html' import cardsGrid %}
{% from './templates/macros/site-breadcrumbs.html' import siteBreadcrumbs %}

{% block page_title %}

{% endblock %}

{% block page_body %}

{{header()}}
{{siteBreadcrumbs(['Home', 'FreiSpiele Casino'])}}
<section class="container container_freispele">
  <h2 class="site-title site-title_freispele">Freispiele Casino</h2>
  <div class="site-text site-text_center site-text_freispele">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
  </div>
  {{cardsGrid(casinos, 'cards-grid_freispele')}}

  <div class="container container_signup">
    <h2 class="site-title site-title_signup">Sign up, get saving!</h2>
    <div class="site-text site-text_center site-text_signup">
      Newsletter subscribers save more with today's best prices and deals
    </div>

    <form class="site-row site-row_signup">
      <input type="email" required placeholder="Subscribe us with email" class="site-input site-input_signup" />
      <button type="submit" class="site-button site-button_signup">SUBSCRIBE</button>
    </form>

  </div>

</section>

{{footer()}}

{% endblock %}
