{% extends "./templates/decorators/_base.html"  %}

{% block page_title %}

{% endblock %}

{% block page_body %}
    <ul>
        <li><a href="./freispliele.html">Freispliele</a></li>
        <li><a href="./bonus.html">Bonus</a></li>
        <li><a href="./review.html">Review</a></li>
        <li><a href="./casinoListing.html">Casino Listing</a></li>
        <li><a href="./home.html">Home</a></li>
    </ul>
{% endblock %}
